---
http_interactions:
- request:
    method: post
    uri: https://saintisidoreofseville.flocknote.com/login/twoFactorAuth
    body:
      encoding: UTF-8
      string: firstFactor=[REDACTED-FLOCKNOTE-EMAIL]&initialLoad=false&requestAuthCode=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"userID":null,"firstFactor":"[REDACTED-FLOCKNOTE-EMAIL]","firstFactorType":"email","allowPasswordForFirstFactor":true,"firstFactorSuccess":false,"maskedSecondFactor":null,"secondFactorType":null,"secondFactorSuccess":false,"networks":null,"userHasAdditionalNetworks":false,"networkID":51767,"networkName":"Saint
        Isidore of Seville","networkPhotoUrl":"https:\/\/s3-us-west-2.amazonaws.com\/flocknote-photos\/everyone\/icon.png","colorScheme":null,"userFullName":null,"message":null}'
  recorded_at: Tue, 01 Oct 2024 21:52:16 GMT
- request:
    method: post
    uri: https://saintisidoreofseville.flocknote.com/login/twoFactorAuth
    body:
      encoding: UTF-8
      string: firstFactor=[REDACTED-FLOCKNOTE-EMAIL]&initialLoad=false&password=[REDACTED-FLOCKNOTE-PASSWORD]
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"userID":null,"loginSuccess":true,"networkID":51767,"networkName":"Saint
        Isidore of Seville","networkPhotoUrl":"https:\/\/s3-us-west-2.amazonaws.com\/flocknote-photos\/everyone\/icon.png","colorScheme":null,"userFullName":"Test
        User","redirectUrl":"https:\/\/saintisidoreofseville.flocknote.com\/dashboard"}'
  recorded_at: Tue, 01 Oct 2024 21:52:17 GMT
- request:
    method: get
    uri: https://saintisidoreofseville.flocknote.com/user/userData
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"userID":27696601,"fname":"Test","lname":"User","emailInfo":{"email":"[REDACTED-FLOCKNOTE-EMAIL]","isVerified":true},"phoneInfo":null,"addressInfo":{"address1":null,"address2":null,"city":null,"country":null,"state":"OH","zip":"43147"},"isSuperDuper":false,"isSuperAdmin":true,"isGroupAdmin":true,"isComposer":true,"canEditSacraments":false,"isBillingAdmin":true}'
  recorded_at: Tue, 01 Oct 2024 21:52:17 GMT
- request:
    method: get
    uri: https://saintisidoreofseville.flocknote.com/dashboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE HTML>\n<html class=\"browser-mobile-false browser-tablet-false
        browser-ios-false browser-android-false  no-js no-touch login \"  >\n\n<head>\n\t<meta
        charset=\"UTF-8\">\n\t<title>Saint Isidore of Seville // Flocknote</title>\n\t<meta
        name=\"viewport\" id=\"view\" content=\"viewport-fit=cover,width=device-width,initial-scale=1.0,
        user-scalable = no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui\" />\n\t<meta
        name=\"apple-mobile-web-app-capable\" content=\"no\">\n\t<meta name=\"apple-mobile-web-app-status-bar-style\"
        content=\"black-translucent\">\n\t<link rel=\"apple-touch-icon\" href=\"https://dhdj1c2suf90g.cloudfront.net/images/touch/touch-icon-iphone.png\">\n\t<link
        rel=\"apple-touch-icon\" sizes=\"76x76\" href=\"https://dhdj1c2suf90g.cloudfront.net/images/touch-icon-ipad.png\">\n\t<link
        rel=\"apple-touch-icon\" sizes=\"120x120\" href=\"https://dhdj1c2suf90g.cloudfront.net/images/touch/touch-icon-iphone-retina.png\">\n\t<link
        rel=\"apple-touch-icon\" sizes=\"152x152\" href=\"https://dhdj1c2suf90g.cloudfront.net/images/t[...]
