---
http_interactions:
- request:
    method: post
    uri: https://saintisidoreofseville.flocknote.com/login/twoFactorAuth
    body:
      encoding: UTF-8
      string: firstFactor=[REDACTED-FLOCKNOTE-EMAIL]&initialLoad=false&requestAuthCode=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"userID":null,"firstFactor":"[REDACTED-FLOCKNOTE-EMAIL]","firstFactorType":"email","allowPasswordForFirstFactor":true,"firstFactorSuccess":false,"maskedSecondFactor":null,"secondFactorType":null,"secondFactorSuccess":false,"networks":null,"userHasAdditionalNetworks":false,"networkID":51767,"networkName":"Saint
        Isidore of Seville","networkPhotoUrl":"https:\/\/s3-us-west-2.amazonaws.com\/flocknote-photos\/everyone\/icon.png","colorScheme":null,"userFullName":null,"message":null}'
  recorded_at: Tue, 01 Oct 2024 04:32:16 GMT
[...]
- request:
    method: get
    uri: https://saintisidoreofseville.flocknote.com/user/userData
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"userID":null,"authorized":false}'
  recorded_at: Tue, 01 Oct 2024 04:32:18 GMT
- request:
    method: get
    uri: https://saintisidoreofseville.flocknote.com/user/userData
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"userID":null,"authorized":false}'
  recorded_at: Tue, 01 Oct 2024 04:32:19 GMT
recorded_with: VCR 6.3.1
