---
http_interactions:
- request:
    method: post
    uri: https://saintisidoreofseville.flocknote.com/login/twoFactorAuth
    body:
      encoding: UTF-8
      string: firstFactor=[REDACTED-FLOCKNOTE-EMAIL]&initialLoad=false&requestAuthCode=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"userID":null,"firstFactor":"[REDACTED-FLOCKNOTE-EMAIL]","firstFactorType":"email","allowPasswordForFirstFactor":true,"firstFactorSuccess":false,"maskedSecondFactor":null,"secondFactorType":null,"secondFactorSuccess":false,"networks":null,"userHasAdditionalNetworks":false,"networkID":51767,"networkName":"Saint
        Isidore of Seville","networkPhotoUrl":"https:\/\/s3-us-west-2.amazonaws.com\/flocknote-photos\/everyone\/icon.png","colorScheme":null,"userFullName":null,"message":null}'
  recorded_at: Tue, 01 Oct 2024 17:41:05 GMT
- request:
    method: post
    uri: https://saintisidoreofseville.flocknote.com/login/twoFactorAuth
    body:
      encoding: UTF-8
      string: firstFactor=[REDACTED-FLOCKNOTE-EMAIL]&initialLoad=false&password=[REDACTED-FLOCKNOTE-PASSWORD]
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"userID":null,"loginSuccess":true,"networkID":51767,"networkName":"Saint
        Isidore of Seville","networkPhotoUrl":"https:\/\/s3-us-west-2.amazonaws.com\/flocknote-photos\/everyone\/icon.png","colorScheme":null,"userFullName":"Test
        User","redirectUrl":"https:\/\/saintisidoreofseville.flocknote.com\/dashboard"}'
  recorded_at: Tue, 01 Oct 2024 17:41:06 GMT
- request:
    method: get
    uri: https://saintisidoreofseville.flocknote.com/user/userData
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"userID":27696601,"fname":"Test","lname":"User","emailInfo":{"email":"[REDACTED-FLOCKNOTE-EMAIL]","isVerified":true},"phoneInfo":null,"addressInfo":{"address1":null,"address2":null,"city":null,"country":null,"state":"OH","zip":"43147"},"isSuperDuper":false,"isSuperAdmin":true,"isGroupAdmin":true,"isComposer":true,"canEditSacraments":false,"isBillingAdmin":true}'
  recorded_at: Tue, 01 Oct 2024 17:41:06 GMT
- request:
    method: post
    uri: https://saintisidoreofseville.flocknote.com/group/931288/addToGroupByAdmin
    body:
      encoding: UTF-8
      string: email=not-a-vaild-email&fname=Another&lname=Test+User&mobile_phone
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":false,"existingSubscription":false,"error":"invalidEmail","message":"Oops!
        It looks like there''s something wrong with that email address.","isApp":false,"userID":27696601}'
  recorded_at: Tue, 01 Oct 2024 17:41:07 GMT
recorded_with: VCR 6.3.1
